<ion-content style="--background: red;" [fullscreen]="true">
  <ion-header>
    <ion-toolbar style="--background: rgb(231, 231, 231); position: relative;">
      <div class="toolbar-container">
        <ion-button style="margin-left: 8px;" color="medium" (click)="mantencion()">
          <ion-icon  name="settings-outline"></ion-icon>
          <ion-modal [isOpen]="isModalOpen">
            <ng-template>
              <ion-content>
                <h2>EN MANTENCIÓN</h2>
                <p>Para está entrega, aún no estará el funcionamiento de este punto, gracias :D</p>
                <p>Después se agregaran:</p>
                <p>Modo para los usuarios (Oscuro o claro)</p>
                <p>Sonidos en general</p>
                <p>Ayuda</p>
                <ion-button expand="full" (click)="closeModal()">Confirmar</ion-button>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-button>

        <div (click)="irPerfil()"style="display: flex; align-items: center;">
          <div class="user-info" style="top: 15px; margin-right: 4px;">
            <ion-label>{{ usuario?.nombre | titlecase }} {{ usuario?.apellido | titlecase}}</ion-label>
          </div>
          <div class="avatar" style=" top: 8px; margin-right: 8px;">
            <ion-icon color="medium" name="person-circle-outline" style="font-size: 45px;"></ion-icon>
          </div>
        </div>
    </div>
    </ion-toolbar>
  </ion-header>

  <br>

  <div class="container-inicio" style="margin-bottom: 80px;">
    <div class="opciones-inicio">
      <div class="opciones">
        <ion-icon style="margin-right: 10px; font-size: 25px;" name="location-outline"></ion-icon>
        <ion-select style="border-bottom: 1px solid black;" placeholder="Selecciona una sede" (ionChange)="filtrarPorSede($event)">
          <div class="underline"></div>
          <ion-select-option *ngFor="let sede of sedes" [value]="sede.id">{{ sede.nombre }}</ion-select-option>
        </ion-select>
      </div>
      <div class="opciones">

        <ion-button style="--border-radius: 50px;" (click)="irHistorialViajes()" > <ion-icon name="time-outline"></ion-icon> Historial de viajes</ion-button>
      </div>
    </div>
    <div class="viajes">
      <div class="viaje" style="display: flex; align-items: center; ">
        <ion-icon name="car-outline" style="font-size: 30px; margin-right: 10px;"></ion-icon>
        <span>Viaje 1</span>
      </div>
    </div>
  </div>

  <ion-footer>
    <ion-toolbar style="--background: rgb(231, 231, 231)">
      <div style="display: flex; justify-content: center; margin-bottom: 20px;">
        <ion-button (click)="cambiarModo()" fill="Outline" style="--background: rgb(199, 197, 197); --color: black;">Cambiar a Modo Conductor</ion-button>
    </div>
    </ion-toolbar>
  </ion-footer>

</ion-content>
