<ion-content style="--background: red;" [fullscreen]="true">
  <ion-header>
    <ion-toolbar style="--background: rgb(231, 231, 231); position: relative;">
      <ion-button color="medium" (click)="mantencion()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>

      <!-- Mantencion Modal -->
      <ion-modal [isOpen]="isModalOpen">
        <ng-template>
          <ion-content>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Configuraciones</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-item>
                    <ion-thumbnail slot="start" style="display: flex; align-items: center;">
                      <ion-icon name="color-wand-outline" style="font-size: 30px;"></ion-icon>
                    </ion-thumbnail>

                    <ion-label>Modo
                      <ion-toggle [(ngModel)]="isDarkMode" (ionChange)="toggleChange($event)"></ion-toggle>
                    </ion-label>

                  </ion-item>
                  <ion-item>
                    <ion-thumbnail slot="start" style="display: flex; align-items: center;">
                      <ion-icon name="help-outline" style="font-size: 30px;"></ion-icon>
                    </ion-thumbnail>
                    <ion-button (click)="preguntas()">Ayuda</ion-button>
                  </ion-item>
                </ion-list>
              </ion-card-content>
              <div style="display: flex; justify-content: center;">
                <ion-button fill="Outline" style="--color: white; --background: #1a65eb;" (click)="closeModal()">Cerrar</ion-button>
              </div>
            </ion-card>
          </ion-content>
        </ng-template>
      </ion-modal>

      <!--Preguntas frecuentes-->
      <ion-modal [isOpen]="isModalOpen3">
        <ng-template>
          <ion-content>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Preguntas frecuentes</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-accordion-group>
                  <ion-accordion value="first" toggleIcon="caret-down-circle" toggleIconSlot="start">
                    <ion-item slot="header" color="light">
                      <ion-label>¿Qué es HighWay?</ion-label>
                    </ion-item>
                    <div class="ion-padding" slot="content">Duoc UC necesitaba un sistema que apoyara a sus estudiantes
                      para no priorizar sus clases online y que los alumnos no tuviesen miedo a la vuelta de sus casas.
                    </div>
                  </ion-accordion>
                  <ion-accordion value="second" toggleIcon="caret-down-circle" toggleIconSlot="start">
                    <ion-item slot="header" color="light">
                      <ion-label>Métodos de pagos</ion-label>
                    </ion-item>
                    <div class="ion-padding" slot="content">HighWay utiliza como medio de pago efectivo, transferencia o
                      con debito.</div>
                  </ion-accordion>
                  <ion-accordion value="third" toggleIcon="caret-down-circle" toggleIconSlot="start">
                    <ion-item slot="header" color="light">
                      <ion-label>Perdí mi viaje, ¿Qué puedo hacer?</ion-label>
                    </ion-item>
                    <div class="ion-padding" slot="content">En caso de que el usuario pierda su viaje por el motivo que
                      fuese sin pagar el viaje,
                      es responsabilidad del usuario llegar a la hora que acuerda con el conductor.
                      En caso de haber pagado el viaje y el conductor ya se marcho,
                      el usuario puede pedir solicitar un reembolso al conductor o gestionar con soporte técnico.</div>
                  </ion-accordion>
                </ion-accordion-group>
              </ion-card-content>
              <div style="display: flex; justify-content: center;">
                <ion-button fill="Outline" style="--color: white; --background: #1a65eb;" (click)="closePreguntas()">Cerrar</ion-button>
              </div>
            </ion-card>
          </ion-content>
        </ng-template>
      </ion-modal>


      <div class="user-info" style="position: absolute; top: 25px; right: 50px; display: flex; margin-right: 20px;">
        <ion-label>{{ usuario?.nombre | titlecase }} {{ usuario?.apellido | titlecase }}</ion-label>
      </div>

      <div class="avatar" style="position: absolute; top: 8px; right: 16px;">
        <ion-icon color="medium" name="person-circle-outline" style="font-size: 50px;" (click)="perfilUsuario()">
        </ion-icon>

        <!-- Perfil Modal -->
        <ion-modal [isOpen]="isModalOpen2">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Tu perfil</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="setOpen(false)">Cerrar</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>

            <div>
              @if(!imagePreview){
                <div class="avatar-perfil">
                  <ion-icon color="medium" name="person-circle-outline"></ion-icon>
                </div>
              }
              <div class="avatar" style="display:flex; flex-direction: column; justify-content: center; margin: 0px 0px 20px;">
                <div style="display: flex; justify-content: center;">
                  <img *ngIf="imagePreview" [src]="imagePreview" alt="Vista previa de la imagen" width="50%"/>
                </div>
                <br>
                <div style="display: flex; justify-content: center;">
                  <ion-button fill="Outline" style="--color: white; --background: red;" (click)="imgPerfil()">Cambiar imagen de perfil</ion-button>
                </div>
              </div>

              <ion-item style="border-top: solid 1px #c8c7cc;" lines="full">
                <ion-icon name="person-outline" slot="start" color="danger"></ion-icon>
                <ion-label>
                  <p>Nombre y Apellido</p>
                  <h2>{{usuario?.nombre | titlecase }} {{usuario?.apellido | titlecase}} </h2>
                </ion-label>
              </ion-item>

              <ion-item lines="full">
                <ion-icon name="business-outline" slot="start" color="danger"></ion-icon>
                <ion-label>
                  <p>Sede</p>
                  <h2>{{usuario?.sede | titlecase }}</h2>

                </ion-label>
              </ion-item>
              <ion-item lines="full">
                <ion-icon name="home-outline" slot="start" color="danger"></ion-icon>
                <ion-label>
                  <p>Direccion</p>
                  <h2>{{usuario?.lugar | titlecase}}</h2>
                </ion-label>
              </ion-item>

              <ion-item lines="full">
                <ion-icon name="mail-outline" slot="start" color="danger"></ion-icon>
                <ion-label>
                  <p>Correo</p>
                  <h2>{{usuario?.email | titlecase }}</h2>
                </ion-label>
              </ion-item>
            </div>

            <div class="final" style="display: flex; justify-content: center;">
              <div>
                <ion-button (click)="logout()" fill="Outline"
                  style="--color: white; --background: red; margin-bottom: 50px;">Cerrar
                  Sesion</ion-button>
              </div>
            </div>
          </ng-template>

        </ion-modal>

        <!--Cambio de img de perfil-->
        <ion-modal [isOpen]="isModalOpen4">
          <ng-template>
            <ion-content>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Cambio de imagen de perfil</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-item>
                    <ion-label>Subir Imagen de Perfil</ion-label>
                    <input type="file" (change)="onFileSelected($event)">
                  </ion-item>
                  <ion-button (click)="guardarDatosConductor()" (click)="closeImgPerfil()">Subir Imagen</ion-button>
                </ion-card-content>
              </ion-card>
              <ion-button (click)="closeImgPerfil()">Cancelar</ion-button>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>
    </ion-toolbar>
  </ion-header>

  <br>
  <br>
  <!-- Main Content -->
  <div class="container-inicio" style="margin-bottom: 80px;">
    <div class="opciones-inicio">
      <div class="opciones">
        <ion-icon style="margin-right: 10px; font-size: 25px;" name="location-outline"></ion-icon>
        <ion-select style="border-bottom: 1px solid black;" placeholder="Selecciona una sede"
          (ionChange)="filtrarPorSede($event)">
          <ion-select-option *ngFor="let sede of sedes" [value]="sede.id">{{ sede.nombre }}</ion-select-option>
        </ion-select>
      </div>
      <div class="opciones">
        <ion-button style="--border-radius: 50px;" (click)="irHistorialViajes()">
          <ion-icon name="time-outline"></ion-icon> Historial de viajes
        </ion-button>
      </div>
    </div>

    <!--Mostrar viajes filtrados por la sede-->

    <!--LISTADO DE VIAJES-->
    <div class="viajes" style="padding: 10px;">
      <div *ngIf="viajeCreado; else noViajes">
        <div class="viaje-card"
          style="display: flex; justify-content: space-between; align-items: center; padding: 15px; border: 1px solid #e0e0e0; border-radius: 10px; margin-bottom: 10px;">
          <div style="display: flex; align-items: center;">
            <ion-icon name="car-outline" style="font-size: 30px; margin-right: 15px;"></ion-icon>
            <div>
              <h6 style="margin: 0; font-weight: bold; font-size: 16px;">Hora de salida: {{ viajeCreado?.hora }}</h6>
              <h6 style="margin: 5px 0; font-size: 15px;">Lugar: {{ viajeCreado?.salida }}</h6>
              <h6 style="margin: 5px 0; font-size: 15px;">Precio: {{ viajeCreado?.precio | currency:'CLP':'$':'1.0-0' }}
              </h6>
              <h6 style="margin: 5px 0; font-size: 15px;">Método de pago: {{ viajeCreado?.metodoPago }}</h6>
              <h6 style="margin: 0; font-size: 15px;">Pasajeros: {{ viajeCreado?.pasajeros }}</h6>
            </div>
          </div>
          <div>
            <ion-button id="toma-viaje" (click)="tomarViaje()" expand="block"
              style="--border-radius: 50px; --background: #3880ff; color: white;">
              Tomar Viaje
            </ion-button>
          </div>
        </div>
      </div>

      <ng-template #noViajes>
        <p style="text-align: center; font-size: 16px; color: #666;">No hay viajes disponibles</p>
      </ng-template>
    </div>

  </div>

  <!-- Footer -->
  <ion-footer>
    <ion-toolbar style="--background: rgb(231, 231, 231);">
      <div style="display: flex; justify-content: center; margin-bottom: 20px;">
        <ion-button (click)="modoConductor()" fill="Outline" style="--background: rgb(199, 197, 197); --color: black;">
          Modo conductor
        </ion-button>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
