<ion-content style="--background: white;" [fullscreen]="true">
  <ion-header>
    <ion-toolbar style="--background: rgb(231, 231, 231); position: relative;">
      <div>
        <ion-title>Perfil</ion-title>
      </div>
    </ion-toolbar>


    <div>

      <div class="avatar" style=" display:flex; top: 8px; justify-content: center; margin: 30px 0px 70px;">
        <ion-icon color="medium" name="person-circle-outline" style="font-size: 200px;"></ion-icon>
      </div>

      <ion-item style="border-top: solid 1px #c8c7cc;" lines="full">
        <ion-icon name="person-outline" slot="start" color="danger"></ion-icon>
        <ion-label>
          <p>Nombre y Apellido</p>
          <h2>{{usuario?.nombre | titlecase }} {{usuario?.apellido | titlecase}} </h2>
        </ion-label>
      </ion-item>

      <ion-item lines="full">
        <ion-icon name="business-outline" slot="start" color="danger"></ion-icon>
        <ion-label>
          <p>Sede</p>
          <h2>{{sedeNombre}}</h2>
        </ion-label>
      </ion-item>


      <ion-item lines="full">
        <ion-icon name="home-outline" slot="start" color="danger"></ion-icon>
        <ion-label>
          <p>Direccion</p>
          <h2>{{usuario?.lugar | titlecase}}</h2>
        </ion-label>
      </ion-item>

      <ion-item lines="full">
        <ion-icon name="mail-outline" slot="start" color="danger"></ion-icon>
        <ion-label>
          <p>Correo</p>
          <h2>{{usuario?.correo | titlecase }}</h2>
        </ion-label>
      </ion-item>
    </div>

      <ion-item lines="full">
        <ion-icon name="id-card-outline" slot="start" color="danger"></ion-icon>
        <ion-label>
          <p>Matricula</p>
          <h2>{{usuario?.matricula }}</h2>
        </ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="car-sport-outline" slot="start" color="danger"></ion-icon>
        <ion-label>
          <p>Tipo de Vehiculo</p>
          <h2>{{usuario?.tipoVehiculo }}</h2>
        </ion-label>
      </ion-item>

    <div class="final" style="display: flex; justify-content: center; margin-top: 50px;" >
      <div >
        <ion-button (click)="logout()" fill="Outline" style="--color: white; --background: red;">Cerrar Sesion</ion-button>
      </div>
      <div id="volver-btn">
        <ion-button (click)="volver()" style="--color: white; --background: red;"fill="Outline">Volver</ion-button>
      </div>
    </div>


  </ion-header>
</ion-content>
