<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar style="--background: rgb(231, 231, 231); position: relative;">
      <ion-title id="titulo-historial" size="large">Historial de viajes</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <br>
  <div class="viajes" style="padding: 10px;">
    <h6>A un no estara disponible este apartado</h6>
    </div>

    <ng-template #noViajes>
      <p style="text-align: center; font-size: 16px; color: #666;">No hay viajes disponibles</p>
    </ng-template>


  <div id="volver-btn">
    <ion-button (click)="volver()" fill="Outline">Volver</ion-button>
  </div>
</ion-content>
