<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar style="--background: rgb(231, 231, 231); position: relative;">
      <ion-title id="titulo-historial" size="large">Historial de viajes</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <br>
  <div class="viajes">
    <div class="viaje" style="display: flex; align-items: center; ">
      <ion-icon name="car-outline" style="font-size: 30px; margin-right: 10px;"></ion-icon>
      <span>Viaje 1</span>
    </div>
  </div>

  <div id="volver-btn">
    <ion-button (click)="volver()" fill="Outline">Volver</ion-button>
  </div>
</ion-content>
