ion-content{
  --overflow: hidden; // evita que se desplaze hacia abajo
  display: flex;
  flex-direction: column;
}

ion-header #titulo-historial{
  line-height: 150px;
  display: flex;
  justify-content: center;

}

.viaje{
  display: flex;
  margin: 10px;
  padding: 40px;
  border-radius: 10px;
  border: solid 1px white;
  color: white;
}
.viajes-realizados{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
}
.viajes{
  display: flex;
  flex-direction: column;
  height: 550px;
  margin: 0px 30px;
  border-radius: 20px;
  background-color: black;
}

#volver-btn{
  display: flex;
  justify-content: space-around;
  margin: 30px 50px;
  --color: white;
}

#volver-btn:hover {
  --background: #1962cf;
  --color: #ffffff;
}

ion-button{
  font-size: 20px;
}
