
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Elija como quiere <br> registrarse</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="tipo-de-cuenta">
    <ion-buttons slot="secondary">
      <ion-button fill="solid" >
        <ion-icon slot="start" name="accessibility-outline"></ion-icon>
        Pasajero
      </ion-button>
    </ion-buttons>
    <br>
    <ion-buttons slot="primary">
      <ion-button fill="solid" (click)="paraConductor()">
        Conductor
        <ion-icon slot="end" name="car-sport-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <div id="volver">
    <ion-button (click)="volver()" fill="Outline" >Volver</ion-button>
  </div>
</ion-content>

