<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar style="--background: rgb(231, 231, 231); position: relative;">
      <ion-button color="medium" (click)="mantencion()">
        <ion-icon name="settings-outline"></ion-icon>

        <!-- Mantencion Modal -->
        <ion-modal [isOpen]="isModalOpen">
          <ng-template>
            <ion-content>
              <h2>EN MANTENCIÓN</h2>
              <p>Para está entrega, aún no estará el funcionamiento de este punto, gracias :D</p>
              <p>Después se agregaran:</p>
              <p>Modo para los usuarios (Oscuro o claro)</p>
              <p>Sonidos en general</p>
              <p>Ayuda</p>
              <ion-button expand="full" (click)="closeModal()">Confirmar</ion-button>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-button>
      <div class="user-info" style="position: absolute; top: 25px; right: 50px; display: flex; margin-right: 20px;">
        <ion-label>{{ usuario?.nombre | titlecase }} {{ usuario?.apellido | titlecase }}</ion-label>
      </div>
      <div class="avatar-inicial" style="position: absolute; top: 8px; right: 16px;">
        <ion-icon color="medium" name="person-circle-outline" style="font-size: 50px;"
          (click)="perfilUsuario()">
        </ion-icon>
        <ion-modal [isOpen]="isModalOpen2">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Tu perfil</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="setOpen(false)">Cerrar</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <div>
              <div class="avatar-perfil">
                <ion-icon color="medium" name="person-circle-outline"></ion-icon>
              </div>
              <ion-item style="border-top: solid 1px #c8c7cc;" lines="full">
                <ion-icon name="person-outline" slot="start" color="danger"></ion-icon>
                <ion-label>
                  <p>Nombre y Apellido</p>
                  <h2>{{usuario?.nombre | titlecase }} {{usuario?.apellido | titlecase}} </h2>
                </ion-label>
              </ion-item>

              <ion-item lines="full">
                <ion-icon name="business-outline" slot="start" color="danger"></ion-icon>
                <ion-label>
                  <p>Sede</p>
                  <h2>{{usuario?.sede | titlecase }}</h2>
                </ion-label>
              </ion-item>

              <ion-item lines="full">
                <ion-icon name="home-outline" slot="start" color="danger"></ion-icon>
                <ion-label>
                  <p>Direccion</p>
                  <h2>{{usuario?.lugar | titlecase}}</h2>
                </ion-label>
              </ion-item>

              <ion-item lines="full">
                <ion-icon name="mail-outline" slot="start" color="danger"></ion-icon>
                <ion-label>
                  <p>Correo</p>
                  <h2>{{usuario?.correo | titlecase }}</h2>
                </ion-label>
              </ion-item>

              <ion-item lines="full">
                <ion-icon name="id-card-outline" slot="start" color="danger"></ion-icon>
                <ion-label>
                  <p>Matricula</p>
                  <h2>{{usuario?.matricula }}</h2>
                </ion-label>
              </ion-item>

              <ion-item lines="full">
                <ion-icon name="car-sport-outline" slot="start" color="danger"></ion-icon>
                <ion-label>
                  <p>Tipo de Vehiculo</p>
                  <h2>{{usuario?.tipoVehiculo }}</h2>
                </ion-label>
              </ion-item>

            </div>
            <div class="final" style="display: flex; justify-content: center; margin-bottom: 50px;">
              <div class="boton-cerrar-sesion">
                <ion-button (click)="logout()" fill="Outline"
                  style="--color: white; --background: red;">Cerrar
                  Sesion</ion-button>
              </div>
            </div>
          </ng-template>
        </ion-modal>
      </div>
    </ion-toolbar>
  </ion-header>

  <br>
  <br>
<!-- Main Content -->
  <div class="container-inicio" style="margin-bottom: 80px;">
    <div class="opciones-inicio">
      <div class="opciones">

        <ion-button (click)="crearViaje()" style="--border-radius: 50px;"><ion-icon name="car-outline" style="margin-right: 10px;"></ion-icon> Crear viaje</ion-button>
      </div>
      <div class="opciones">
        <ion-button (click)="irViajeCreado()" style="--border-radius: 50px;"  ><ion-icon name="car-outline" style="margin-right: 10px;"></ion-icon> Mostrar el
          viaje creado</ion-button>
      </div>
      <div class="opciones">
        <ion-button style="--border-radius: 50px;"><ion-icon name="car-outline" style="margin-right: 10px;"></ion-icon> Historial de viajes
          realizados</ion-button>
      </div>
    </div>
  </div>

<!-- Footer -->
  <ion-footer>
    <ion-toolbar style="--background: rgb(231, 231, 231)">
      <div style="display: flex; justify-content: center; margin-bottom: 20px;">
        <ion-button (click)="modoPasajeror()" fill="Outline"
          style="--background: rgb(199, 197, 197); --color: black;">Cambiar a Modo Pasajero</ion-button>
      </div>
    </ion-toolbar>
  </ion-footer>
