<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-title id="titulo-perfil-conductor" size="large" style="color: white;">Perfil Conductor</ion-title>
  </ion-header>
  <div id="container-registro-driver">
    <label id="select-vehicle">Tipo de Vehiculo</label>
    <ion-segment [(ngModel)]="tipoVehiculo">
      <ion-segment-button value="auto">
        <ion-label>Auto</ion-label>
      </ion-segment-button>
      <ion-segment-button value="moto">
        <ion-label>Moto</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-input class="datos-registro-driver" [(ngModel)]="matricula" type="text" label="Matricula Vehiculo" label-placement="floating"
      fill="solid"></ion-input>
    <br>
    <div class="foto-vehicle">
      <label>Foto del Vehiculo</label>
      <br>
      <ion-img id="img-vehicle" src="assets/img/FotoPrueba.jpg"></ion-img>
    </div>
  </div>
  <div id="registrarse-btn">
    <ion-button (click)="volver()" fill="Outline">Volver</ion-button>
    <ion-button fill="Outline" (click)="guardarDatosConductor()">Registrarse</ion-button>
  </div>
</ion-content>
